// Define defaults for each variable.
$heading-font-family: 'Roboto', sans-serif;
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   1rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     2em !default;

$text-color:       #111 !default;
$background-color: #eee;
$link-color:       #6200ee !default;
$header-color:     #F44336;
$page-color:       #757575;
$brand-color:      #6200ee;
$icon-hover-color: darken($header-color, 40%);

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    55em !default;
$mobile:           48em !default;
$laptop:           75em !default;
