.inner {
  box-shadow: none;
}

.header {
  position: relative;
  border: none;
  height: 175px;
}

.header__name {
  color: #fff;
}

.header__social {
  display: none;
}

.content {
  top: 0;
}

.message {
  display: none;
}
